<header class="top-bar">
  <div class="content">
    <button (click)="toggleAddModal()">
      Add Employee
    </button>
  </div>
</header>
<main>
  <div class="content card-area">

  <div class="card" *ngFor="let e of employees">
    <div class="card-button-area">
      <mat-icon (click)="deleteEmployee(e)">close</mat-icon>
      <mat-icon (click)="editEmployee(e)">edit</mat-icon>
    </div>
    <img class="img" [src]="e?.imgUrl">
    {{ e?.imgUrl }}
    <h2>{{ e?.name }}</h2>
    <b class="job-title">{{ e?.jobTitle }}</b>
    <div class="text-icon">
      <i>{{ e?.email }}</i><mat-icon>mail</mat-icon>
    </div>
    <div class="text-icon">
      <i>{{ e?.phone }}</i><mat-icon>phone</mat-icon>
    </div>
  </div>

</div>

</main>
<footer>
  <div class="content"></div>
</footer>

<div *ngIf="showAddModal" class="dark-layer">
  <div class="add-modal">

    <h2 *ngIf="!edit">Add Employee</h2>
    <h2 *ngIf="edit">Edit Employee</h2>
    <div class="modal-body">
      <form >

        <div form-field>
          <input type="text" placeholder=" " name="name" [(ngModel)]="nameControl">
          <label>Name</label>
        </div>

        <div form-field>
          <input type="text" placeholder=" " name="jobTitle" [(ngModel)]="jobTitleControl">
          <label>Job Title</label>
        </div>

        <div form-field>
          <input type="string" placeholder=" " name="phoneNumber" [(ngModel)]="phoneControl">
          <label>Phone Number</label>
        </div>

        <div form-field>
          <input type="email" placeholder=" " name="email" [(ngModel)]="mailControl">
          <label>Email</label>
        </div>

        <div form-field>
          <input type="url" placeholder=" " name="imageURL" [(ngModel)]="imageUrlControl">
          <label>Image URL</label>
        </div>

      </form>
      <div class="modal-button-area">
        <button type="submit"
          (click)="addEmployee()"
        ><mat-icon>check</mat-icon></button>
        <button
          (click)="toggleAddModal()"  
        ><mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>